/* 1565c0 */
/* 0d59af */
/*=========== GLOBAL =============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*========== HAEDER ==============*/
.header__top{
    background-color: #1565c0;
    display: flex;
    padding: 7px 5%;
    justify-content: space-between;

}
.header__top span{
    color: #fff;
}
.header__top__right span{
    margin-left: 30px;
}
.header__bottom{
    background-color: #0d59af ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}
.header__bottom__left li{
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}
.header__bottom__left li a{
    color: #fff;
    text-decoration: none;
}
.header__bottom__left{
    display: flex;
    /* justify-content: center; */
    align-items:baseline;
}
.header__bottom__left h1{
    margin-right: 60px;
}
/*=========== Banner ===========*/
.banner__img{
    /* width: 100%; */
}
.banner__img img{
    /* background-size: cover; */
    background-position: center;
    object-fit: cover;
    width:100%;
}
.banner__content{
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.banner__item img{
    width: 100%;
    background-position: center;
    object-fit: cover;
    height: 100%;
}
.banner__item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.banner__item2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
/*========= Carousel =========*/
.carousel{
    background-color: #f6f6f6;
    text-align: center;
    /* padding-top: 30px; */
    padding: 30px 0;
}
.carousel__title h1{
    color: #0d59af;
    font-size: 30px;
}
.carousel__content{
    width: 80%;
    margin: 30px auto 0;
}
.carousel__item{
    margin: 0 10px;
    border: 2px solid #b4a8a8;
}
.carousel__item:focus{
    outline: none;
}
.carousel__img img{
    width: 100%;
}
.carousel__text{
    padding: 15px 15px 5px;
}
.carousel__text h2{
    color: #0d59af;
    font-size: 18px;
}
.carousel__text h3{
    font-size: 16px;
    margin: 10px 0;
}
.carousel__text span{
    font-size: 14px;
    font-weight: bold;
    margin: 0 3px;
}
.carousel__text span.sale__off{
    color: #a39898;
    text-decoration-line: line-through;
}
.carousel__text button{
    border: 2px solid rgb(218, 100, 22);
    padding: 5px 15px;
    margin-top: 10px;
    color: #1565c0;
}
/*========== Discount =========*/
.discount{
    background-image: url(../img/ban1.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.discount h2{
    font-size: 35px;
    margin: -20px 0 0;
    font-weight: 100;
}
.discount h1{
    font-size: 60px;
    font-weight: 200;
    margin: 70px 0 40px;
}
.discount__hr{
    position: absolute;
    border-top: 1px solid #b4a8a8;
    left: 0;
    top: 50%;
    width: 100%;
}
.discount__btn button{
    background-color: rgb(223, 168, 18);
    padding: 10px 15px;
    color: #fff;
    border: 1px solid rgb(223, 168, 18);
}
/*======== carosel1 =========*/
.carousel1{
    background: #fff;
}
/*============ Fashion ===========*/
.fashion{
    background-color: #f6f6f6;
    padding: 20px 0;
}
.fashion__title{
    text-align: center;
}
.fashion__title h1{
    color: #0d59af;
}
.fashion__content{
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.fashion__item img{
    width: 100%;
    display: block;
    height: 100%;
}
.fashion__img img{
    transform: scale(1);
    transition: all .7s;
}
.fashion__item:hover .fashion__img img{
    transform: scale(1.5);
    opacity: 0.8;
}
.fashion__item{
    position: relative;
    overflow: hidden;
}
.fashion__overlay{
    opacity: 0;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fashion__item:hover .fashion__overlay{
    opacity: 1;
}
.fashion__sale {
    position: absolute;
    top:20px;
    right:20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,230,0.4);
    text-align: center;
    line-height: 40px;
    color: #fff;
    transform: translateY(30px);
    transition: all 1s;
    /* ======== */
    visibility: hidden;
    /* ======== */
}
.fashion__text {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,230,0.4);
    width: 100%;
    height: 30px;
    line-height: 30px;
    transform: translateY(30px);
    transition: all 1s;
    /* ======== */
    visibility: hidden;
    /* ======== */
}
.fashion__text p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.fashion__item:hover .fashion__sale,.fashion__item:hover .fashion__text{
    transform: translateY(0);
    /* ======== */
    visibility:visible;
    /* ======== */
}
.fashion__overlay1{
    transform: translateX(-100%);
}
.fashion__item:hover .fashion__overlay1{
    transform: translateX(0);
}
/*========= Foodter ========*/
footer{
    color: #fff;
}
.foodter__text--1{
    background-color: #0d59af;
}
.foodter__text--2{
    background-color: black;
}
.foodter__1,.foodter__2{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
.foodter__2{
    padding: 20px 0;
}
.foodter__content {
    display: flex;
}
.foodter__item{
    width: calc(70%/3);
}
.foodter__item1{
    width: 30%;
    padding-right: 30px;
}
.foodter__item h2{
    margin-bottom: 20px;
}
.foodter__item li{
    list-style-type: none;
    line-height: 30px;
}
.foodter__item i{
    margin-right: 20px;
    margin-left: 10px;
}
.foodter__copy{
    display: flex;
    justify-content: space-between;
}





